@model List<ShopWeb.Data.Entities.CategoryEntity>
@{
    //Layout = "_LayoutDefault";
}

@section Styles {

}

<h1 class="text-center">Список категорій</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Назва</th>
                <th scope="col">Дата створення</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model)
            {
                <tr>
                    <th scope="row">@cat.Id</th>
                    <td>@cat.Name</td>
                    <td>@cat.DateCreated.ToString("dd MMMM yyyy hh:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>




