@model ProductListViewModel
@*IEnumerable<ShopWeb.Areas.Admin.Models.Products.ProductItemViewModel>*@

@{
    ViewData["Title"] = "Index";
    
}

<h1 class="text-center">Список продуктів</h1>



<p>
    <a asp-action="Create">Додати продукт</a>
</p>

@await Html.PartialAsync("_ProductSearchItems", Model.Search)

@await Html.PartialAsync("_PaginationItems", Model.Pagination)


<h4>Усіх записів: @Model.Count</h4>
@await Html.PartialAsync("_ListProductItems", Model.Products)

@await Html.PartialAsync("_PaginationItems", Model.Pagination)
